body {
    background-image: url(https://avatars.mds.yandex.net/i?id=13bc9d45081c440f61d5af41cc29ff99_l-7188894-images-thumbs&n=13);
    background-repeat: no-repeat;
    background-position: center 92px; /* Сместите фон на 100 пикселей вниз */
    background-size: cover; 
}


.train{
    position: absolute;
    width: 94px;
    height: 98px;
    left: 23px;
    top: -3px;
    color: rgb(255, 255, 255);
    font-family: Sarpanch;
    font-size: 28px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}
#menu {
    position: absolute;
    width: 143px;
    height: 93px;
    left: -1px;
    top: 0;
    background: rgb(219, 113, 7);
}
.tickets{
    position: absolute;
    width: 356px;
    height: 38px;
    left: 175px;
    top: 0px;
    color: rgb(0, 0, 0);
    font-family: Raleway;
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}
.marshrut{
    position: absolute;
    width: 165px;
    height: 29px;
    left: 592px;
    top: 0px;
    color: rgb(0, 0, 0);
    font-family: Raleway;
    font-size: 32px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}
.signin{
    position: absolute;
    width: 75px;
    height: 29px;
    left: 1277px;
    top: 0px;
    color: rgb(0, 0, 0);
    font-family: Raleway;
    font-size: 32px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}
.modal{
    position: absolute;
    width: 320px;
    height: 377px;
    left: 630px;
    top: 360px;
    box-sizing: border-box;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 8px;
    background: rgb(255, 255, 255);
}
.email{
    position: absolute;
    width: 272px;
    height: 22px;
    left: 20px;
    top: 0;
    color: rgb(30, 30, 30);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
}
.modalin{
    position: absolute;
    width: 272px;
    height: 20px;
    left: 6px;
    top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 16px 12px 16px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 8px;
    background: rgb(255, 255, 255);
}
.adress{
    position: static;
    width: 240px;
    height: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 16px 12px 16px;
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 0px;
    color: rgb(179, 179, 179);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}
.password{
    position: absolute;
    width: 272px;
    height: 22px;
    left: 20px;
    top: 0px;
    color: rgb(30, 30, 30);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 1200%;
    letter-spacing: 0%;
    text-align: left;
}
.modalps{
    position: absolute;
    width: 272px;
    height: 20px;
    left: 6px;
    top: 125px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 16px 12px 16px;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 8px;
    background: rgb(255, 255, 255);
}
.butsign{
    position: absolute;
    width: 272px;
    height: 40px;
    left: 20px;
    top: 200px;
    box-sizing: border-box;
    border: 1px solid rgb(219, 113, 7);
    border-radius: 8px;
    background: rgb(219, 113, 7);
    font-family: Raleway;
}
.butreg{
    position: absolute;
    width: 272px;
    height: 40px;
    left: 20px;
    top: 250px;
    box-sizing: border-box;
    border: 1px solid rgb(219, 113, 7);
    border-radius: 8px;
    background: rgb(219, 113, 7);
    font-family: Raleway;
    
}
.vhod{
    position: absolute;
    width: 75px;
    height: 38px;
    left: 1277px;
    top: 38px;
    color: rgb(0, 0, 0);
    font-family: Raleway;
    font-size: 32px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 0%;
    text-align: left;
}
a {
    text-decoration: none; /* Убирает подчеркивание у всех ссылок */
}
.otkuda{
    position: absolute;
    width: 320px;
    height: 67px;
    left: 72px;
    top: 259px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 16px 12px 16px;
    box-sizing: border-box;
    border: 2px solid rgb(175, 175, 175);
    background: rgb(255, 255, 255);
    color: rgb(146, 146, 146);
    font-family: Raleway;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
    
}
.kuda{
    position: absolute;
    width: 320px;
    height: 67px;
    left: 393px;
    top: 259px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 16px 12px 16px;
    box-sizing: border-box;
    border: 2px solid rgb(175, 175, 175);
    background: rgb(255, 255, 255);
    color: rgb(146, 146, 146);
    font-family: Raleway;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}
.out1 {
    position: absolute;
    width: 320px;
    height: 67px;
    left: 92px;
    top: 259px;
    box-sizing: border-box;
    border: 2px solid rgb(175, 175, 175);
    background: rgb(255, 255, 255);
    color: rgb(146, 146, 146);
    font-family: Raleway;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    padding: 15px
}

.select-city-button:hover {
    text-decoration: underline; /* Подчеркнуть текст при наведении */
}

.text {
    position: absolute;
    width: 320px;
    height: 87px;
    left: 72px;
    top: 259px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    text-align: left;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid rgb(175, 175, 175);
    background: rgb(255, 255, 255);
    position: absolute;
    color: rgb(146, 146, 146);
    font-family: Raleway;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}
    
.select-city-button:hover {
        text-decoration: underline; /* Подчеркнуть текст при наведении */
}
.city-button:hover {
        background-color: #f0f0f0;
}
.city-list {
    position: absolute;
    width: auto;
    height: auto;
    left: 72px;
    top: 360px;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(175, 175, 175);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}
.tuda{
    position: absolute;
    width: 320px;
    height: 67px;
    left: 714px;
    top: 259px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 16px 12px 16px;
    box-sizing: border-box;
    border: 2px solid rgb(175, 175, 175);
    background: rgb(255, 255, 255);
    color: rgb(146, 146, 146);
    font-family: Raleway;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}
.obratno{
    position: absolute;
    width: 320px;
    height: 67px;
    left: 1035px;
    top: 259px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 16px 12px 16px;
    box-sizing: border-box;
    border: 2px solid rgb(175, 175, 175);
    background: rgb(255, 255, 255);
    color: rgb(146, 146, 146);
    font-family: Raleway;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}
.searchticket{
    position: absolute;
    width: 320px;
    height: 67px;
    left: 1035px;
    top: 327px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 12px 16px 12px 16px;
    box-sizing: border-box;
    border: 2px solid rgb(219, 113, 7);
    background: rgb(219, 113, 7);
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}